<li class="list-group-item">
  <%= link_to "#{user.mobile},
  #{t 'users.bought'} #{user.bought_small}/#{user.bought_middle}/#{user.bought_big},
  #{t 'users.gained'} #{user.gained},
  #{t 'users.bought_tickets'} #{user.tickets_count}",
              user %>
</li>
